/*Mémo couleurs
 bleu foncé #00ACC1
 bleu clair #B2EBF2
 gris foncé #CFD8DC
 gris clair #F5F5F5

choix des polices 
font-family: 'Amatic SC', cursive;
font-family: 'DM Mono', monospace;
font-family: 'Open Sans Condensed', sans-serif;

à faire: 
- vérifier l'espace entre les puces et les h2 de la partie de droite (formation expérience ... ) car pas le meme écart.
-
*/

/*Général*/

body{
width: 82%;
margin: auto;
}

h1, h2{
	text-transform: uppercase; /* tout en majuscule */
	font-family: 'Open Sans Condensed', sans-serif;
}
h3,h4{
	font-weight: normal;
}

#conteneur{
	display: flex;
}

ul {
	list-style-type: none;
    padding-left:  0px;
    margin-top: 6px;
    margin-bottom: 30px;
}

/*les liens*/
a{
	color: black;
	text-decoration: none;
}

a:hover{
	color :#B2EBF2 ;
}

/*header */ 

header{
	font-family: 'Open Sans Condensed', sans-serif;
}

#titre{
	display: flex;

}
.img{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-color: #00ACC1; 
	flex: 1.5;
}

.ecrit{
	flex: 3;
	margin-left: 50px;
	padding-top: 50px;
}

header h1{
	font-size: 4.2em;
	margin : 0px;
	padding-top: 30px;

}

.prenom{
	color: #00ACC1;
}
.devel{
	border-bottom: 1px #00ACC1 solid;
}

header h2{
	font-size: 2em;
	margin: 0px;
}

header img{
	align-self: center;
	width: 200px;
	height: 210px; 	
	border-radius: 200%;
}

/*PARTIE DE GAUCHE */

.gauche {
	display: flex; 
	flex-direction: column;
	background-color: #00ACC1;
	flex:1.5;
}
.gauche p, .gauche h3{
	margin-left: 30px;
	margin-right: 30px;
}
.contact{
	flex:1;
	margin-bottom: 30px;

}

.contact p{
	margin-top: 2px;
	margin-bottom: 2px;
}

.contact h2{
	margin:0px;
}

.contact h3{
	margin-top:20px;
	margin-bottom: 1px;
}

.propos{
	flex:5;
}

.propos p{
	text-align: justify;
}

.loisirs{flex:1;
}

aside h2{
	background-color: #CFD8DC;
	color: #00ACC1;
	text-align: center;
	font-size: 1.6em;
	padding: 10px;
	margin-top: 0px;
}

#loisir{
	display: flex;
	justify-content: space-around;
	padding-left: 40px;
	padding-right: 40px;
	align-self: flex-end;

}

#loisir .fas {
	font-size: 2em;
	width: 1.2em;
	height: 1.2em;
	color : #CFD8DC ;
	border : 1px #CFD8DC solid ;
	border-radius: 50%;
	padding: 12px;

}


/*PARTIE DE DROITE*/

.droite{
	/*pour essais border : 1px red solid; */
	flex: 3;
	margin-left: 50px;
}


/*section*/ 
.droite section h2{
	font-size: 2.2em;
	border-bottom: 1px #00ACC1 solid;
	margin-bottom: 0px;
	margin-top: 20px;
}


h2 .fas{
	font-size: 1em;
	color : #00ACC1;
	padding-right: 30px;
}

.droite p{
	text-align: justify;
}

.liste{
	display: flex;
	margin-top: 50px;	
}

.liste .far {
	font-size: 0.8em;
	color : #00ACC1;
	padding-right: 10px;
}

.liste .fas{
	font-size: 0.4em;
	color : #00ACC1;
	padding-right: 16px;
}

.date{
	flex:2;
}

.date h3{
	font-size: 1.1em;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
}

.date p{
	margin-top: 2px;
	padding-left: 28px;
}

.description{
	flex:5;
}

.description h3{
	margin: 0px;
	font-size: 1.6em;
}

.description h4{
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 0px;
	text-decoration: underline;
}

.description h5{
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 0px;
}

.experience p{
	margin-top: 10px;
}
/*recommandation*/

.recommandation {
	padding-top: 30px;
	padding-bottom:50px;
}

.recommandation ul{
	margin-top: 30px ;
}

#reco{
	display: flex;

}

#reco p{
	font-size: 1em;
}

.jean {
	flex: 1;
}
.pierre{
	flex: 1;
}
.email{
	font-size: 0.9em;
}
@media all and (max-width: 1024px){
			/*GENERAL*/
			body{
				width: 100%;
			}

			#conteneur{
				display: flex;
				flex-direction: column;
			}

			#titre{
				display: flex;
				flex-direction: column-reverse;
			}
			.img{

				padding-bottom: 50px;
				padding-top: 50px;
			}
			
			header img{
				align-self: center;
				width: 400px;
				height: 410px; 	
				border-radius: 200%;
			}

			.ecrit{
				text-align: center;
				margin-left: 0px;
				padding-bottom: 70px;
			}

			header h1{

				padding-top: 0px;
				margin-bottom: 0px;
			}

			header h2{

			}

			/*GAUCHE*/

			.gauche h2{
		
				margin-bottom: 40px;
			}
			.contact h3{
			
				} 
			.contact p{
				
			}

			.propos, .loisirs{
				margin-top:40px;
			}

			.propos p  {
				padding-left: 30px ;
				padding-right: 30px;
				text-align: justify;
			}
			.contact{
				text-align: center;
			}

			#loisir{
				display: flex;
				justify-content: space-around;
				padding-left: 40px;
				padding-right: 40px;
				align-self: flex-end;
			}

			#loisir .fas {
				width: 1.2em;
				height: 1.2em;
				color : #CFD8DC ;
				border : 1px #CFD8DC solid ;
				border-radius: 50%;
				padding: 12px;
			}

			/*DROITE */
			.droite{
				margin-left: 0px;
			}
			.droite section h2{
				text-align: center;
			}

			.formation{
				margin-top: 50px;
			}

			.liste{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.date{
			}
			.date .far, .date .fas{
				padding-right: 5px;
			}
			.date p{
				padding-left: 0px;
			}
			.liste{
				text-align: center;
			}
			.description h3{
		
			}
			.description h4{
			}
			.description h5{

			}
			.description p{
				padding-left: 20px;
				padding-right: 20px;
			}

			#reco{
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				padding-top: 30px;
			}

			.jean p{
				text-align: center;
			}
			.pierre {
				padding-top: 20px;
			}
			.pierre p{
				text-align: center;
			}	
		}



		@media all and (max-device-width: 480px){
			/*GENERAL*/
			body{
				width: 100%;
			}

			#conteneur{
				display: flex;
				flex-direction: column;
			}

			#titre{
				display: flex;
				flex-direction: column-reverse;
			}
			.img{

				padding-bottom: 50px;
				padding-top: 50px;
			}
			
			header img{
				align-self: center;
				width: 400px;
				height: 410px; 	
				border-radius: 200%;
			}

			.ecrit{
				text-align: center;
				margin-left: 0px;
				padding-bottom: 70px;
			}

			header h1{
				font-size: 9em;
				padding-top: 0px;
				margin-bottom: 0px;
			}

			header h2{
				font-size: 5em;
			}

			/*GAUCHE*/

			.gauche h2{
				font-size: 7em;
				margin-bottom: 40px;
			}
			.contact h3{
				font-size: 3em;
				} 
			.contact p{
				font-size: 2em;
			}

			.propos, .loisirs{
				margin-top:40px;
			}

			.propos p  {
				font-size: 2em;
				padding-left: 30px ;
				padding-right: 30px;
				text-align: justify;
			}
			.contact{
				text-align: center;
			}

			#loisir{
				display: flex;
				justify-content: space-around;
				padding-left: 40px;
				padding-right: 40px;
				align-self: flex-end;
			}

			#loisir .fas {
				font-size: 4em;
				width: 1.2em;
				height: 1.2em;
				color : #CFD8DC ;
				border : 1px #CFD8DC solid ;
				border-radius: 50%;
				padding: 12px;
			}

			/*DROITE */
			.droite{
				margin-left: 0px;
			}
			.droite section h2{
				text-align: center;
				font-size: 4em;
			}

			.formation{
				margin-top: 50px;
			}

			.liste{
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.date{
				font-size: 1.5em;
			}
			.date .far, .date .fas{
				padding-right: 10px;
			}
			.date p{
				padding-left: 0px;
			}
			.liste{
				text-align: center;
			}
			.description h3{
				font-size:5em;
		
			}
			.description h4{
				font-size: 1.2em;
			}
			.description h5{
				font-size: 1em;

			}
			.description p{
				font-size: 2em;
				padding-left: 20px;
				padding-right: 20px;
			}

			#reco{
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				padding-top: 30px;
				font-size: 2em;
			}

			.jean p{
				text-align: center;
			}
			.pierre {
				padding-top: 20px;
			}
			.pierre p{
				text-align: center;
			}	
		}

